.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.instart {
  margin-top: 20px;
}

/* Hide the default select-all box and the close button */
.instart .p-multiselect-panel .p-multiselect-header .p-checkbox, 
.instart .p-multiselect-panel .p-multiselect-header .p-multiselect-close-icon{
  display: none;
}

/* Make the search box 100% width */
.instart .p-multiselect-panel .p-multiselect-header .p-multiselect-filter-container {
  width: 100%;
}

/* Add border radius to the floating pannel */
.instart .p-multiselect .p-multiselect-panel {
  border-radius: 3px;
}
.instart .p-multiselect .p-multiselect-panel .p-multiselect-header{
  border-radius: 3px 3px 0 0;
}
.instart .p-multiselect-panel .p-multiselect-items-wrapper {
  border-radius: 0 0 3px 3px;
  /* Set the width of the panel to 200px wide */
  width: 200px; 
}

/* Set the max width for the cont */
.instart .p-multiselect-label-container {
  max-width: 150px;
  width: 150px;
  text-align: left;
  white-space: nowrap;
}
